.m-logotype {
    $self: &;

    position: relative;
    display: flex;
    z-index: 999;
    background-color: white;

    &__image {
        width: 200px;
        height: 40px;
        padding: 5.35px 0;
        position: relative;
    }

    &__image-file {
        background-image: url('../../static/images/_base/logotype.svg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 200px;
        height: 29.3px;
    }

    &__image-link {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    &__server {
        display: inline-block;
        width: 100%;
        font-size: $fs-small;
        height: $fs-small;
        font-weight: 700;
        color: $gray7;
        line-height: $fs-small-ssss;
        padding: 0;
    }

    &.-server {
        flex-wrap: wrap;

        #{$self}__image {
            width: 144px;
            height: 24px;
            padding: 3px 0 0;
            position: relative;
        }
    
        #{$self}__image-file {
            background-image: url('../../static/images/_base/logotype.svg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            width: 144px;
            height: 21px;
        }
    }
}