.m-nav-main {
    $self: &;

    @include transition(right, .2s);
    position: absolute;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    right: -100%;
    top: 0;
    bottom: 0;
    z-index: 1000;
    height: 100vh;
    background-color: $brand3;

    @media only screen and (min-width: $lg) {
        position: relative;
        height: auto;
        right: inherit;
        background-color: inherit;
    }

    &__outer {
        width: 100%;
        overflow: scroll;
        height: 100vh;

        @media only screen and (min-width: $lg) {
            overflow: inherit;
            height: inherit;
        }
    }

    &__inner {
        width: 100%;
    }

    &__items {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        margin: 0 -5px 0 0;
        justify-content: flex-end;
        position: relative;
        padding: 60px 15px;

        @media only screen and (min-width: $lg) {
            padding: 0;
            flex-wrap: nowrap;
        }
    }

    &__item {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        height: 40px;

        @media only screen and (min-width: $lg) {
            width: auto;
        }

        &.-special {

            #{$self}__link {
                background-color: $brand3;
                color: $white;
                border-radius: 5px;
                padding: 3px 12px;
                line-height: 30px;

                &:hover {
                    background-color: $brand2;
                    color: $white;
                }
            }
        }
    }

    &__link {
        padding: 5px;
        margin: 2px 5px;
        line-height: 26px;
        font-size: $fs-normal-ss;
        color: $gray1;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 500;

        &:hover {
            color: $brand1;
        }

        &.-active {
            color: $brand1;

            &:hover {
                color: $brand1;
            }
        }
    }

    &__link-subfix {
        color: $white;
        font-size: $fs-small-s;
        line-height: 14px;

        @media only screen and (min-width: $lg) {
            color: $brand3;
        }
    }

    &.open {
        right: 0;

        @media only screen and (min-width: $lg) {
            right: inherit;
        }
    }
}