.loading-image {
    background: $c-gray-loading-bg;

    &::before {
        content: '';
        position: absolute;
        width: 400%;
        height: 400%;
        top: 0;
        bottom: 0;
        right: -300%;
        left: 0%;
        background: linear-gradient(270deg, $c-gray-loading-1, $c-gray-loading-2);
        background-size: 400% 400%;
        animation: loadingImage 3s ease infinite;
    }

    //animation
    @keyframes loadingImage {
        0%{
            right: -300%;
            left: 0%;
        }
        50%{
            right: 0%;
            left: -300%;
        }
        100%{
            right: -300%;
            left: 0%;
        }
    }
}