.o-admin-list {
    margin: 0;

    @media only screen and (min-width: $md) {
        margin: 0 15px;
    }

    &__outer {
        width: 100%;
    }

    &__inner {
        width: 100%;
    }

    &__no-items {
        width: 100%;
        text-align: center;
    }

    &__items {
        width: 100%;
    }

    &__item {
        width: 100%;
        display: grid;
        grid-template-columns: [first] 7% [second] 33% [third] 60%;
        border-right: 1px solid $gray5;
        border-bottom: 1px solid $gray5;
        border-left: 1px solid $gray5;
        background-color: $gray2;

        &:first-of-type {
            border-top: 1px solid $gray5;
            border-radius: 3px 3px 0 0;
        }

        &:last-of-type {
            border-radius: 0 0 3px 3px;
        }
    }

    &__id {
        padding: 5px 12px;
        margin: 0;
        border-right: 1px solid $gray5;
        font-weight: 700;
        font-size: $fs-normal;
    }

    &__title {
        padding: 5px 12px;
        margin: 0;
        border-right: 1px solid $gray5;
    }

    &__title-link {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    &__perex {
        padding: 5px 12px;
        margin: 0;
    }
}