.o-flash-messages {
    width: 100%;
    position: fixed;
    top: 61px;
    left: 0;
    right: 0;
    background-color: $white;
    z-index: 999;

    &__items {
        width: 100%;
    }

    &__item {
        width: 100%;

        &.-success {
            background-color: $greenBG;
            color: $greenTEXT;
            border: 2px solid $greenBORDER;
        }

        &.-error {
            background-color: $redBG;
            color: $redTEXT;
            border: 2px solid $redBORDER;
        }
    }

    &__outer {
        width: 100%;
    }

    &__inner {
        width: 100%;
        padding: 10px 15px;
    }

    &__text {
        font-size: $fs-normal-s;
        line-height: 1.1;
    }
}