.o-flash-messages {
    width: 100%;

    &__items {
        width: 100%;
    }

    &__item {
        width: 100%;
        background-color: $errorBackgroundcolor;
        border: 2px solid $errorBordercolor;
    }

    &__outer {
        width: 100%;
    }

    &__inner {
        width: 100%;
        padding: 5px 15px;
        color: black;
    }

    &__text {
        font-size: $fs-normal-s;
        line-height: 1.1;
    }
}