.o-image-version {
    display: block;

    &__outer {
        display: block;
    }

    &__inner {
        display: block;
    }

    &__table {
        width: 100%;
        border: 1px solid $gray5;
        border-collapse: collapse;
    }

    &__header {
        border: 1px solid $gray5;
    }

    &__content {
        border: 1px solid $gray5;
    }

    &__th {
        border: 1px solid $gray5;
        padding: 5px;
    }

    &__td {
        border: 1px solid $gray5;
        padding: 3px;

        &.-p0 {
            padding: 0;
        }
    }

    &__button {
        display: block;
    }
}