.o-nav-admin {
    display: block;
    width: auto;
    margin: 0 -15px;

    &__outer {
        width: 100%;
    }

    &__inner {
        width: 100%;
    }

    &__items {
        width: 100%;
        display: flex;
        list-style: none;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
    }

    &__item {
        width: 100%;

        @media only screen and (min-width: $md) {
            width: 33.333%;
        }
    }

    &__item-container {
        border: 1px solid $gray5;
        margin: 15px;
        background-color: $gray2;
        border-radius: 3px;
        text-align: center;
        min-height: 100px;
        display: flex;
    }

    &__title {
        display: flex;
        color: $gray7;
        text-decoration: none;
        font-weight: 600;
        font-size: $fs-normal;
        padding: 15px 20px;
        width: 100%;
        justify-content: center;
        align-items: center;

        &:hover {
            color: $brand1;
        }
    }

    &__span {
        display: block;
    }
}